<!DOCTYPE html>
<html>
<head>
    <title>Safety Equipment Check</title>
    <link rel="stylesheet" type="text/css" href="static/styleu.css">
</head>
<body>
    <div class="container">
        <h1>Upload an image to check safety equipment</h1>
        <form  method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="inputfile">
            <input type="submit" value="Upload">
        </form>
        <a href="/" class="button">Back to Welcome Page</a>

    </div>
</body>
</html>



